.modal-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  backdrop-filter: blur(10px);
  z-index: 50;
  animation: slide 0.4s ease 1 forwards;
}
@keyframes slide {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 0;
  }
}
.modal-content {
  border-radius: 12px;
  height: 100%;
  padding: 30px 10px 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-close-button {
  position: absolute;
  top: 12px;
  right: 12px;
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: #800080;
  z-index: 1;
}

.modal-close-button:hover {
  color: #000;
}
